$primary-font-color: #000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

img {
  pointer-events: none
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.title2-primary {
  font-size: 60px;
  margin: 50px;
}

.btn {
  font-size: 25px;
  border: solid black 4px;
  background-color: transparent;
}

.primary-button {
  height: 80px;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(189, 189, 189, 0.897);
    // transform: translateY(+5px);
  }
  &:active {
    transform: translateY(+10px);
  }
}

.primary-errMsg {
  color: #e70303;
  font-weight: 600;
}

.primary-input {
  margin: 5px 0;
  width: 700px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0;
  border: solid black 4px;
}

.primary-input-gap {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}