$primary-font-color: #000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

.primary-button {
  height: 80px;
  width: 250px;
  font-size: 25px;
  border: solid black 4px ;
  background-color: transparent;
  transition: all 0.2s;
  &:hover {
    background-color: rgba(189, 189, 189, 0.897);
  }
  &:active {
    transform: translateY(+10px);
  }
}