$primary-font-color: #000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

.title2-primary {
  font-size: 60px;
  margin: 50px;
}

.btn {
  cursor: pointer;
  font-size: 25px;
  border: solid black 4px;
  background-color: transparent;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(189, 189, 189, 0.897);
    // transform: translateY(+5px);
  }
  &:active {
    transform: translateY(+10px);
  }
}

.primary-button {
  height: 80px;
  width: 250px;
}

.primary-errMsg {
  color: #e70303;
  font-weight: 600;
}