:root {
  --font-color: #030303;
  --app-background-color: #FFFFFF;
  --error-red-color: #d10000;
}

[theme="dark"] {
  --font-color: #c9c8b8;
  --app-background-color: #091A28;
  --error-red-color: #a30000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Press Start 2P', cursive;
  color: var(--font-color);
}

body {
  background-color: var(--app-background-color);
  transition: all 0.3s;
  margin: 0;
  padding: 0;
}